bin/
obj/
publish/

*.user
*.userosscache
*.sln.docstates

.devcontainer/
.vs/
.vscode/

*.log

Thumbs.db
desktop.ini

CatSystem_Log.txt
CatSystem_Rollback/

*.bak
*.tmp

TestResults/
*.trx

secrets.json
.env
